# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual envs
venv/
.venv/
env/
.env
.env.*

# System / OS
.DS_Store

# Logs
*.log

# VS Code / IDE
.vscode/
.idea/

# FAISS / Embeddings / Model dumps
*.faiss
*.npy
*.npz
*.pkl
*.bin
*.json
*.csv
*.tsv

# Local data & temp
data/
*.sqlite3
*.db

# Build
build/
dist/
*.egg-info/
.eggs/

# Flask specific
instance/
.webassets-cache/
